:root {
  font-size: 18px;
}

body {
  background-image: url(./images/keffiyeh-pattern.png);
  font-family: "Exo", sans-serif;
  margin: 0 auto;
  background-color: hsl(0, 0%, 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
ul {
  text-align: center;
}

h1,
h2,
p {
  padding: 0.75rem 0;
  color: white;
  margin: 0 auto;
}

h1 {
  font-size: 1.65rem;
}

h2 {
  font-size: 1.5rem;
}

li {
  margin-bottom: 0.75rem;
}
footer {
  font-size: 0.8rem;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.9);
  border: 1px solid hsl(0, 0%, 0%);
  margin: 0 auto;
  height: auto;
  width: 100%;
  padding: 0 0.8rem;
}

nav {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  max-width: 95%;
}
nav a {
  text-align: center;
}

img,
video {
  height: auto;
  max-height: 420px;
  max-width: 448px;
  border-radius: 8px;
}

video {
  margin: 0 auto;
}
ul.menu {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

ul.menu li {
  margin: 50px auto;
  max-width: 95%;
}

a {
  color: hsl(0, 0%, 100%);
}

a.button-link {
  background: linear-gradient(
    87.6deg,
    hsla(351, 89%, 50%, 0.8) 1.7%,
    hsla(40, 89%, 54%, 0.8) 13.3%,
    hsla(65, 89%, 54%, 0.8) 24.5%,
    hsla(123, 89%, 43%, 0.8) 34.8%,
    hsla(178, 57%, 55%, 0.8) 47.2%,
    hsla(231, 93%, 43%, 0.8) 58.9%,
    hsla(263, 71%, 65%, 0.8) 67.6%,
    hsla(263, 94%, 40%, 0.8) 78.1%,
    hsla(299, 91%, 68%, 0.8) 89.2%,
    hsla(327, 91%, 68%, 0.8) 103.3%,
    hsla(351, 65%, 70%, 0.8) 113.9%
  );
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 6px;
  color: hsl(0, 0%, 100%);
  display: block;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 1rem;
  text-decoration: none !important;
  text-shadow: hsl(0, 0%, 0%) 2px 2px 2px;
  text-transform: uppercase;
}

.carousel-item a {
  display: flex;
  background: none;
  border: none;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  margin: 0 33%;
}

.carousel-item img {
  cursor: pointer;
}

a.carousel-control-prev,
a.carousel-control-next {
  background: none;
  border: none;
}

a.donations {
  background: none;
  border: none;
  border-radius: none;
  color: hsl(0, 0%, 100%);
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 auto;
  text-shadow: hsl(0, 0%, 0%) 2px 2px 2px;
  text-transform: uppercase;
}

.container {
  padding-bottom: 1rem;
}

.date {
  font-style: italic;
  text-align: center;
}

.education ul {
  text-align: left;
  color: white;
}

.education ul {
  list-style: disc;
}

.education a {
  background: none;
  border: none;
  text-align: left;
  text-transform: none;
}

.text-container {
  background-color: hsla(0, 0%, 0%, 0.8);
  border: 1px solid hsl(0, 0%, 0%);
  margin: 0 auto;
  height: auto;
  padding: 1.5rem 0.8rem;
  width: 100%;
}

.app {
  width: 75%;
}

a:visited {
  color: hsl(0, 0%, 100%);
}

a:active {
  transform: translate(1px, 1px);
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .table-media {
    height: auto;
    max-height: 280px;
    max-width: 100%;
    border-radius: 8px;
  }
  .carousel-item a {
    margin: 0 0;
  }
  .app {
    width: 100%;
  }
  a.donations {
    font-size: 0.9rem;
  }
}
